<table>
  <thead>
    <tr>
      <th colspan="2"><a href="<%=cat_url(cat)%>"><%= cat.name %> </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="column">Birth Date</td>
      <td class="col_val"><%= cat.birth_date %></td>
    </tr>
    <tr>
      <td class="column"> Pronoun </td>
      <td class="col_val"><%= cat.sex %></td>
    </tr>
    <tr>
      <td class="column"> Color </td>
      <td class="col_val"><%= cat.color %></td>
    </tr>
    <tr>
      <td class="column"> Description </td>
      <td class="col_val"><%= cat.description %></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2">
        <a href="<%=edit_cat_url(cat)%>">Edit this kat!</a>
      </td>
    </tr>
  </tfoot>
</table>


<table>
  <thead>
    <tr>
      <th colspan="3">Rental Requests</th>
    </tr>
    <tr>
      <td >Start Date</th>
      <td >End Date</th>
      <td >Status</th>
    </tr>
  </thead>
  <tbody>
    <% cat.rental_requests.each do |request| %>
      <tr>
        <td class="col_val"><%= request.start_date %></td>
        <td class="col_val"><%= request.end_date %></td>
        <td class="col_val"><%= request.status %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2">
        <a href="<%=edit_cat_url(cat)%>">Edit this kat!</a>
      </td>
    </tr>
  </tfoot>
</table>
